{% extends 'mainlayout.html' %}
{% block contentpath %}
    > <a href="{{url_for('home')}}">My Bookmark</a> > About
{% endblock %}
{% block contentinside %}
    <p style="text-align: justify;">This project come to be as a personalized assistant of my somewhat unorganized demeanor, I always find it hard to get together informations that I already searched and to know where it coming from, you can say that this project is both to help me as a writer and as the fact that I have a chaotic brain as a friend.</p>
    <p>Anyway, this project was made by me.</p>
{% endblock %}